
/*============================================================================================================= */
/*============================================================================================================= */


/*                                                   BODY                                                       */

/*============================================================================================================= */
/*============================================================================================================= */
body{
    background-color: #281a4d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

/*============================================================================================================= */
/*============================================================================================================= */


/*                                                   HEADER                                                     */

/*============================================================================================================= */
/*============================================================================================================= */

  header{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  


/*============================================================================================================= */
/*============================================================================================================= */


/*                                                   MAIN                                                       */

/*============================================================================================================= */
/*============================================================================================================= */
  main{

    width: 100%;
    max-width: 575px;
    margin: auto;
    width: auto;
}


/* Estilo para el recuadro del nav */
.container {
  background-color: #403169;
  border-radius: 10px;
  padding: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  display: inline-block;
  bottom: 15px;
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #c8bcc2;
  font-weight: bold;
}

/* Estilo para el enlace activo */
nav a.active {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  padding: 5px 10px;
}


/*


ARTICULOS



*/

.article {
  height: 650px;
  width: 500px;
  background-color: #3d305e;
  border-radius: 10px;
  border: 2px solid #362a52;
  margin: 0;
  padding: 30px;
  outline-style: double;
  display: left;
  position: relative;
  left: 330px;
}

.article2 {
  height: 1050px;
  width: 600px;
  background-color: #3d305e;
  border-radius: 10px;
  border: 2px solid #362a52;
  margin: 0;
  padding: 30px;
  outline-style: double;
  position: relative;
  right: 350px;
  bottom: 714px;
}

.article3 {
  width: 900px;
  height: 1200px;
  background-color: #3d305e;
  border-radius: 10px;
  border: 2px solid #362a52;
  padding: 30px;
  outline-style: double;
  position: relative;
  right: 170px;
  bottom: 400px;
  color: beige;
  border-color: #362a52;
  margin-bottom: 0;
}

/* */




/* 


Contenedores de imagen


*/



.image-container {
  display: inline-block;
  position: relative;
}

.image-container:hover img {
  animation: bounce 0.5s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.image-container a::after {
  content: 'Ampliar imagen';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s;
}

.image-container a:hover::after {
  opacity: 1;
}
.image-container p {
  color: beige;
  }
.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container2 p {
color: beige;
}


.image-container2 {
  display: inline-block;
  position: relative;
  width: 60%;
  right: 190px;
  top: 20px;
}

.image-container2:hover img {
  animation: bounce 0.5s;
  animation-fill-mode: both;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.image-container2 a::after {
  content: 'Ampliar imagen';
  display: block;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s;
}

.image-container2 a:hover::after {
  opacity: 1;
}

.image-container2 img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container3 {
  display: inline-block;
  position: relative;
  width: 30%;
  right: 320px;
  top: 30px;
}

.image-container4 {
  display: inline-block;
  position: relative;
  width: 30%;
  left: 410px;
  top: 30px;
  background-color: #4c4067;
  border-radius: 10px;
  border: 2px solid #423959;
}


.image-container5 {
  display: inline-block;
  position: relative;
  width: 70%;
  left: 5px;
  top: 30px;
  background-color: #4c4067;
  border-radius: 10px;
  border: 2px solid #423959;
}

.image-container4-contenedor{
  background-color: #3d305e;
  border: 1px solid black; 
  border-radius: 10px; 
  box-sizing: 5px;
  box-shadow: #30264c;
  padding: 10px;
  height: 360px;
  width: 330px;
  left: 545px;
  bottom: 580px;
  position: relative;
}








/**/





.button_article {
  background-color: #4c4067;
  border-radius: 10px;
  border: 2px solid #423959;
  margin: 0;
  padding: 10px;
  outline-style: double;
  display: left;
  position: relative;
  top: 15px;
}

.button_article1 {
  background-color: #4c4067;
  border-radius: 10px;
  border: 2px solid #423959;
  margin: 0;
  padding: 10px;
  outline-style: double;
  display: left;
  position: relative;
  left: 270px;
  bottom: 630px;
}

.cuadro2{

  height: 300px;
  width: 500px; 
  border-radius: 10px;
}


.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  position:  relative;
  top: 120px;
}

.circle:hover {
  transform: scale(1.1);
}

.circle img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}



/*============================================================================================================= */
/*============================================================================================================= */


/*                                                   FOOTER                                                    */

/*============================================================================================================= */
/*============================================================================================================= */
/*Estilos para el footer*/
.footer {
  background-color: #524770;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  top: 30px;
  position: relative;
}
/*Estilos para el contenido dentro del footer*/
.footer-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}


/*Estilos para los iconos*/
.arrow-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.arrow-icon i {
  font-size: 24px;
  color: #e0a6fe;
  display: block;
  margin-bottom: 10px;
}

/*Estilos para la animación de los iconos*/
.arrow-icon i:hover {
  animation: bounce 0.5s ease-out;
  transform: translateY(-10px);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*Estilos para las imágenes de los iconos*/
.arrow-icon img {
  width: 20px;
  height: 20px;
}



.social-icons {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 12px;
  right: 450px;

}

.social-icons a {
  display: block;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}



  
.box {
  background-color: #534774;
  box-shadow: #3b3352;
  box-sizing: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  width: 340px;
  height: 160px;
  position: relative;
  right: 50px;
  max-width: 600px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  box-sizing: border-box;
}

  
.box h2 {
  font-size: 18px;
  margin-top: 0;
}
  
.box p {
  margin-bottom: 5px;
}
  
.box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.box li {
  margin-bottom: 3px;
}
  
.box li a {
  color: #333;
  text-decoration: none;
}
  
.box li a:hover {
  color: #666;
}
  
table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #7e7594;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #524770;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
}

td {
  background-color: #685e82;
  color: #ffffff;
  border-radius: 0 0 10px 10px;
}

tr:hover {
  background-color: #524770;
  color: #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: #685e82;
}

tbody tr:nth-child(even) {
  background-color: #524770;
}






